@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

:root {
    --text-color: #1f1f1f;
    --background-color: #f4f4f4;
    --card-background: #cfcfcf;
    --font: 'Archivo', sans-serif;
}



/********************
 * BODY
 ********************/

body {
    padding: 0;
    margin: 0%;
    background-color: var(--background-color); 
    color: var(--text-color);
    text-align: center;
}

main {
    min-height: 100vh;
}

h1 {
    user-select: none;
    font-size: 300%;
    letter-spacing: 1px;
    color: var(--text-color);
    font-family: var(--font);
}

h2, h3, h4 {
    color: var(--text-color);
    font-family: var(--font);
}

p {
    color: var(--text-color);
    font-family: var(--font);
}

/********************
 * IMAGES
 ********************/

img {
    border-radius: 20px;
    max-width: 60%;
}

figcaption {
    color: var(--text-color);
    font-family: var(--font);
    margin: 1% 0% 1%;
}

/********************
 * SECTION & ARTICLES
 ********************/

section {
    display: block;
    align-content: center;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    text-align: center;
    margin: 2% 20% 2%;
}

/********************
 * SECTION & ARTICLES
 ********************/

form {
    padding: 2%;
    font-family: var(--font);
    color: var(--text-color);
}

fieldset {
    padding: 2%;
    border-radius: 20px;
    color: var(--text-color)
}

input[type="text"] {
    border-radius: 20px;
    border: 0;
    padding: 1%;
    margin: 2%;
    background-color: var(--card-background);
    color: var(--text-color);
    font-family: var(--font);
}

input[type="submit"] {
    border-radius: 20px;
    border: 0;
    padding: 1%;
    margin: 2%;
    background-color: rgb(145, 0, 0);
    color: var(--text-color);
    font-family: var(--font);
}

/********************
 * HEADER
 ********************/

header nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
    height: 60px;
    vertical-align: middle;
}

header nav ul {
    text-align: left;
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    width: 100%;
}

.nav-item {
    margin: 0;
    padding: 1%;
    display: inline;
}

.nav-link {
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s;
}

header h1 {
    margin-top: 100px;
}

#header-logo {
    vertical-align: middle;
}

#theme-link {
    margin-top: 5px;
    padding: 1%;
}

#quick-search {
    margin: 0;
    margin-top: 5px;
    padding: 1%;
    display: flex;
}

#quick-search input[type=text] {
    border-radius: 20px;
    padding: 2%;
    margin: 0;
    border: 0;
    background-color: #484848;
    color: whitesmoke;
    font-family: var(--font);
}

#quick-search input[type=image] {
    padding: 2%;
    border: 0;
}

/********************
 * FOOTER
 ********************/

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
}

footer table {
    width: 100%;
    margin: 0;
    padding: 1%;
    table-layout: fixed;
    vertical-align: middle;
}

.footer-title {
    padding: 1%;
    color: whitesmoke;
    font-family: var(--font);
    vertical-align: middle;
}

.footer-item {
    color: whitesmoke;
    font-family: var(--font);
    vertical-align: middle;
}

.footer-link {
    color: whitesmoke;
    font-family: var(--font);
    text-decoration: none;
    vertical-align: middle;
}

/********************
 * PLAN
 ********************/

.plan-item {
   list-style-type: none;
   padding: 1%;
   text-align: left;
   margin-left: 30%;
}

.plan-item a {
   color: var(--text-color);
   font-family: var(--font);
   text-decoration: none;
   transition: 0.5s;
}

.plan-item a:hover{
   color: rgb(255, 0, 0);
   transition: 0.5s;
}

/********************
 * CARD SECTION
 ********************/

 .card-section {
    max-width: 90%;
    margin: 5%;
    display: flex;
    overflow-x: auto;
    text-align: center;
}

.card-section h2 {
    margin-top: -50px;
    display: block;
    position: absolute;
    text-align: center;
}

/********************
 * CARD
 ********************/

.card {
    margin-top: 50px;
    padding: 1%;
    max-width: 10%;
    background-color: var(--card-background);
    border-radius: 20px;
    margin: 1%;
    display: inline;
}

.card h3 {
    font-size: medium;
}

.card p {
    font-size: medium;
}

.card a {
    border-radius: 20px;
    font-size: medium;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font);
    padding: 2%;
    background-color: brown;
    transition: 00.5s;
}

.card a:hover {
    background-color: rgb(212, 37, 37);
    transition: 00.5s;
}