@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');


/********************
 * BODY
 ********************/

body {
    padding: 0;
    margin: 0%;
    background-color: #202020; 
    color: #f0f0f0;
    text-align: center;
}

main {
    min-height: 100vh;
}

h1 {
    user-select: none;
    font-size: 300%;
    letter-spacing: 1px;
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
}

h2, h3, h4 {
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
}

p {
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
}

a {
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
}

ul {
    padding: 0%;
    list-style-type: none;
}

li {
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
}

/********************
 * IMAGES
 ********************/

img {
    border-radius: 20px;
    max-width: 60%;
}

figcaption {
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
    margin: 1% 0% 1%;
}

/********************
 * SECTION & ARTICLES
 ********************/

section {
    display: block;
    align-content: center;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    text-align: center;
    margin: 2% 20% 2%;
}

/********************
 * SECTION & ARTICLES
 ********************/

form {
    padding: 2%;
    font-family: 'Archivo', sans-serif;
    color: #f0f0f0;
}

fieldset {
    padding: 2%;
    border-radius: 20px;
    color: #f0f0f0
}

input[type="text"] {
    border-radius: 20px;
    border: 0;
    padding: 1%;
    margin: 2%;
    background-color: #2c2c2c;
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
}

input[type="submit"] {
    border-radius: 20px;
    border: 0;
    padding: 1%;
    margin: 2%;
    background-color: rgb(145, 0, 0);
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
    transition: 0.5s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(255, 3, 3);
    transition: 0.5s;
}

/********************
 * HEADER
 ********************/

header nav {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
    height: 60px;
    vertical-align: middle;
}

header nav ul {
    text-align: left;
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    width: 100%;
}

.nav-item {
    margin: 0;
    padding: 1%;
    display: inline;
}

.nav-link {
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s;
}

header h1 {
    margin-top: 100px;
}

#header-logo {
    vertical-align: middle;
}

#quick-search {
    display: flex;
    width: 20%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#quick-search input[type=text] {
    border-radius: 20px;
    margin: 0;
    border: 0;
    background-color: #484848;
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
    height: 15px;
}

#quick-search input[type=image] {
    border: 0;
    margin-left: 1%;
    height:30px;
    vertical-align: middle;
}

#theme-link {
    display: block;
    min-width: 5%;
}

#theme-icon {
    width: 30px;
    margin: 15px;
}


/********************
 * FOOTER
 ********************/

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
}

footer table {
    width: 100%;
    margin: 0;
    padding: 1%;
    table-layout: fixed;
    vertical-align: middle;
}

.footer-title {
    padding: 1%;
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
    vertical-align: middle;
}

.footer-item {
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
    vertical-align: middle;
}

.footer-link {
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    vertical-align: middle;
}

.footer-link:hover {
    text-decoration: underline;
}

/********************
 * PLAN
 ********************/

.plan-item {
   list-style-type: none;
   padding: 1%;
   text-align: left;
   margin-left: 30%;
}

.plan-item a {
   color: #f0f0f0;
   font-family: 'Archivo', sans-serif;
   text-decoration: none;
   transition: 0.5s;
}

.plan-item a:hover{
   color: rgb(255, 0, 0);
   transition: 0.5s;
}

/********************
 * CARD SECTION
 ********************/

.card-section {
    max-width: 90%;
    margin: 5%;
    display: flex;
    overflow-x: auto;
    text-align: center;
}

.card-section h2 {
    z-index: -1;
    margin-top: -50px;
    display: block;
    position: absolute;
    text-align: center;
}

/********************
 * CARD
 ********************/

.card {
    margin-top: 50px;
    padding: 1%;
    min-width: 20%;
    background-color: #2c2c2c;
    border-radius: 20px;
    margin: 1%;
}

.card h3 {
    padding: 2%;
    font-size: medium;
}

.card p {
    padding: 2%;
    font-size: medium;
}

.card a {
    padding: 2%;
    font-size: medium;
}

.submit-style {
    border-radius: 20px;
    font-size: medium;
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'Archivo', sans-serif;
    margin: 2%;
    padding: 2%;
    background-color: brown;
    transition: 00.5s;
}

.submit-style:hover {
    background-color: rgb(212, 37, 37);
    transition: 00.5s;
}