@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

:root {
    --text-color: #f0f0f0;
    --background-color: #202020;
    --font: 'Archivo', sans-serif;
}



/********************
 * BODY
 ********************/

body {
    padding: 0;
    margin: 0%;
    background-color: var(--background-color); 
    color: var(--text-color);
    text-align: center;
}

main {
    min-height: 100vh;
}

h1 {
    user-select: none;
    font-size: 300%;
    letter-spacing: 1px;
    color: var(--text-color);
    font-family: var(--font);
}

h2, h3, h4 {
    color: var(--text-color);
    font-family: var(--font);
}

p {
    color: var(--text-color);
    font-family: var(--font);
}

/********************
 * IMAGES
 ********************/

img {
    border-radius: 20px;
    max-width: 60%;
}

figcaption {
    color: var(--text-color);
    font-family: var(--font);
    margin: 1% 0% 1%;
}

/********************
 * SECTION & ARTICLES
 ********************/

section {
    display: block;
    align-content: center;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    text-align: center;
    margin: 2% 20% 2%;
}

/******************************
 * HEADER
 ******************************/

header nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
    height: 60px;
    box-shadow: 0px 10px 10px rgb(17, 17, 17);
}

header nav ul {
    text-align: left;
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    width: 100%;
}

.nav-item {
    margin: 0;
    padding: 1%;
    display: inline;
    vertical-align: middle;
}

.nav-link {
    color: var(--text-color);
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s;
}

header h1 {
    margin-top: 100px;
}

/********************
 * FOOTER
 ********************/

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    background-color: black;
}

footer table {
    width: 100%;
    margin: 0;
    padding: 1%;
    table-layout: fixed;
    vertical-align: middle;
}

.footer-title {
    padding: 1%;
    color: var(--text-color);
    font-family: var(--font);
    vertical-align: middle;
}

.footer-item {
    color: var(--text-color);
    font-family: var(--font);
    vertical-align: middle;
}

.footer-link {
    color: var(--text-color);
    font-family: var(--font);
    text-decoration: none;
    vertical-align: middle;
}
